.container {
  width: 100%;
  height: 70px;
  background-color: #24263a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
    padding: 0px 40px;
    font-size: 25px;
    transition: all 0.3s ease-in-out 0s;
    color: white;
    span {
      color: #ff4a57;
    }
  }
  .logo:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out 0s;
  }
}
