.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 70px 0 0 0;
  background-color: #24263a;
  scroll-behavior: smooth;
  .mainContent {
    width: 80%;
    display: flex;
    gap: 100px;
    .aboutDescription {
      h1 {
        font-weight: 700;
        line-height: 60px;
        color: #fff;
        font-size: 3rem;
        letter-spacing: 0.1ch;
        margin-bottom: 20px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22pt;
        letter-spacing: 0.1ch;
        color: #fff;
        opacity: 0.5;
        margin-bottom: 20px;
      }
      .downloadButton {
        width: 100%;
        height: 60px;
        button {
          margin-right: 20px;
          width: 170px;
          height: inherit;
          outline: none;
          border: none;
          background-color: #ff4a57;
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          letter-spacing: 0.1ch;
          cursor: pointer;
          button:hover {
            background-color: #cd303b;
          }
          a {
            text-decoration: none;
            color: white;
            .linkedinButtonText {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
            }
          }
        }
      }
    }

    .profilePicContainer {
      .profilePic {
        border-radius: 10%;
        border: 2px solid #ff4a57;
        background-color: #ff4a57;
        background-image: linear-gradient(to bottom, #ff4a57, #753a88);
      }
    }
  }

  @media (max-width: 1000px) {
    .mainContent {
      text-align: center;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 20px;
    }
    .downloadButton {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      gap: 10px;
    }
  }
}
