.container {
  background-color: #24263a;
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .mainContent {
    width: 80%;
    padding: 50px 0 100px 0;
    .header {
      h1 {
        font-size: 3rem;
        color: #ff4a57;
      }
      .underLine {
        margin: 0px 0 10px 0;
        width: 120px;
        height: 5px;
        background-color: #ff4a57;
      }
    }
    .skillSetContainer {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: auto;
      padding-top: 30px;
      .skillSetCards {
        background-color: #2b2d40;
        padding: 30px;
        .cardLogo {
          margin: 20px 0 10px 0;
          width: 50px;
          .logo path {
            fill: #ff4a57;
          }
        }
        .cardContent {
          h1 {
            font-size: 16px;
            font-weight: 600;
            color: white;
            opacity: 0.9;
            margin: 20px 0 10px 0;
          }
          p {
            color: #f6f7f7;
            opacity: 0.8;
            line-height: 20pt;
            font-size: 14px;
          }
        }
      }
    }
  }
}
