.container {
  background-color: #24263a;
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .mainContent {
    width: 80%;
    padding: 0px 0 100px 0;
    .header {
      h1 {
        font-size: 3rem;
        color: #ff4a57;
      }
      .underLine {
        margin: 0px 0 10px 0;
        width: 120px;
        height: 5px;
        background-color: #ff4a57;
      }
    }

    .companyContainer {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-gap: 20px;
      padding-top: 30px;
      .companyCards {
        padding: 20px;
        border-radius: 5px;
        background-color: #2b2d40;
        .companyHeading {
          margin: 20px 20px 20px 0;
          h3 {
            line-height: 24pt;
            font-size: 24px;
            .role {
              color: #fff;
            }
            .companyName {
              color: #ff4a57;
              a {
                text-decoration: none;
                color: #ff4a57;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
          .range {
            padding-top: 10px;
            color: #fff;
            opacity: 0.7;
            font-size: 14px;
          }
        }
        .details {
          ul {
            li {
              font-size: 14px;
              position: relative;
              padding-left: 5px;
              padding-top: 10px;
              margin-bottom: 0;
              color: #fff;
              opacity: 0.8;
              line-height: 22pt;
              letter-spacing: 0.1ch;
            }
          }
        }
      }
    }
  }
}
